/*
font-family: 'Abril Fatface', cursive;
font-family: 'Domine', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Lora', serif;
*/
.App {
  text-align: center;
  background-color: #ffdc6d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Libre Baskerville", serif;
}

.App h1 {
  font-size: 50px;
  color: #000000;
  font-family: "Domine", serif;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 18px;
}

.App .Dictionary-body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  color: #000000;
  font-size: 20px;
}

footer {
  font-size: 18px;
}

footer a {
  color: #606dea;
  text-decoration: none;
  transition: all 120ms ease-in-out;
}

footer a:hover {
  color: #ff7926;
  text-decoration: none;
}

@media (max-width: 700px) {
  footer {
    margin: 10px 20px;
  }
}
