.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App .App-header {
  background-color: #344e41;
  width: 100%;
}

.App .Dictionary-body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  color: #344e41;
  font-size: 20px;
}

.App .logo-mariana {
  max-width: 180px;
  display: block;
  margin: 15px auto;
}

footer {
  font-size: 18px;
}